@charset "utf-8";
@import url("SFNSDisplay_Light/stylesheet.css");
/* CSS Document */
body {
	background-image: none;
	position: static;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: center;
	background-color: #F2F2F2;
	font-family: "SFNSDisplay Light";
}

#base {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
}
#u24 {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 0px;
}
#u25_div {
	position: absolute;
	width: 100%;
	height: 45px;
	background-color: rgba(54, 54, 54, 0.9);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#u25 {
	position: relative;
	margin: 0 auto;
	width: 1350px;
	height: 0px;
}

#u27 {
	position: absolute;
	left: 3px;
	width: 192px;
	height: 25px;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: #FFFFFF;
}
#u29 {
	position: absolute;
	left: 195px;
	top: 0px;
	width: 192px;
	height: 45px;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	color: #FFFFFF;
}
#u31 {
	position: absolute;
	left: 387px;
	top: 0px;
	width: 192px;
	height: 45px;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	color: #FFFFFF;
}
#u33 {
	position: absolute;
	left: 579px;
	top: 0px;
	width: 192px;
	height: 45px;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	color: #FFFFFF;
}
#u35 {
	position: absolute;
	left: 771px;
	top: 0px;
	width: 192px;
	height: 45px;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	color: #FFFFFF;
}
.u37_img {
	position: absolute;
	background-image: url(search.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-clip: padding-box;
}
#u37 {
	position: absolute;
	left: 963px;
	width: 192px;
	height: 15px;
}
button.u39_img {
	position: absolute;
	background-image: url(person.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-clip: padding-box;
}
#u39 {
	position: absolute;
	left: 1155px;
	top: 0px;
	width: 15px;
	height: c;
}
.nav_item {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 45px;
	background-color: rgba(54, 54, 54, 0.0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: #FFFFFF;
}
.nav_item:hover {
	background-color: rgba(112,112,112,0.90);
}
.nav_item:focus {
	background-color: rgba(162,162,162,0.90);
	outline: none;
}
.nav_search{
	background-color: rgba(54, 54, 54, 0.0)}

.myfull{
	width: 100%;
	height: 100%;
}
.no_border{
	border: none;
}
.no_border:focus {
	border: none;
	outline: none;
}
.btn_bgcolor_blue{
	background-color: rgba(3,169,244,1.00);
}
.btn_bgcolor_blue:hover {
	background-color: rgba(20,180,252,1.00);
}
.btn_bgcolor_red{
	background-color: rgba(231,76,60,1.00);
}
.btn_bgcolor_red:hover {
	background-color: rgba(255,102,88,1.00);
}
.btn_bgcolor_white{
	background-color: rgba(255,255,255,1.00);
}
.btn_bgcolor_white:hover {
	background-color: rgba(225,225,225,1.00);
}
.btn_bgcolor_bule_pale{
	background-color:rgba(205,238,253,1.00);
}
.btn_bgcolor_gray_pale{
	background-color:rgba(242,242,242,1.00);
}
.btn_bgcolor_gray_pale:hover{
	background-color:rgba(222,222,222,1.00);
}
.bgcolor_blue{
	background-color: rgba(3,169,244,1.00);
}
.bgcolor_blue_dark{
	background-color: rgba(13,113,187,1.00);
}
.bgcolor_red{
	background-color: rgba(231,76,60,1.00);
}
.bgcolor_red_pale{
	background-color: rgba(255,186,161,1.00);
}
.bgcolor_white{
	background-color: rgba(255,255,255,1.00);	
}
.bgcolor_gray{
	background-color:rgba(217,217,217,1.00);
}
.bgcolor_gray_pale{
	background-color:rgba(242,242,242,1.00);
}
.border_r_7px{
	border-radius: 7px;
}
.border_r_15px{
	border-radius: 15px;
}
.text_white{
	color: rgba(255,255,255,1.00);
}
.text_px16{
	font-size: 16px;
}
.text_px18{
	font-size: 18px;
}
.text_px20{
	font-size: 20px;
}
.hover_text_line:hover{
	text-decoration: underline;
}
.height_45px{
	height:45px
}
.height_60px{
	height:60px
}
.width_full{
	width:100%;
}
.margin_bottom_22px{
	margin-bottom:22px;
}









a.button_forget {
	border: none;
	background-color: rgba(0,0,0,0.00);
	font-size: large;
	color: rgba(164,164,164,1.00);
}
a.button_forget:hover {
	border: none;
	background-color: rgba(0,0,0,0.00);
	outline: none;
	text-decoration: underline;
	cursor: pointer;
	color: rgba(54,54,54,1.00);
}
a.button_register {
	border: none;
	background-color: rgba(0,0,0,0.00);
	font-size: 14px;
	color: rgba(81,176,255,1.00);
}
a.button_register:hover {
	border: none;
	background-color: rgba(0,0,0,0.00);
	color: rgba(81,176,255,1.00);
	outline: none;
	text-decoration: underline;
	cursor: pointer;
}
input.submit {
	border: none;
	background-color: #2A91FF;
	height: 100%;
	border-radius: 10px;
	width: 100%;
	color: #FFFFFF;
	font-size: medium;
}
input.submit:hover {
	outline: none;
	background-color: #55A8FF;
	cursor:pointer;
}
input.submit:focus {
	outline: none;
	background-color: #55A8FF;
}
.item_list{
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	height: 50px;
	width: 200px;
}
.item_button{
	margin-right: 5px;
}