@charset "utf-8";
/* CSS Document */
div.left_timu{
	float:left;
	width: 100px;
	height: 50px;
	margin-left: 150px;
}
div.right_timu{
	float:right;
	width: 100px;
	height: 50px;
	margin-right: 150px;
}
div.neirong{
	position: absolute;
	top: 150px;
	width: 100%;
}
div.edit_form{
	width: 800px;
	margin: 0px auto;
	height: 500px;
	background-color: rgba(255,255,255,1.00);
	border-radius: 15px;
	padding: 20px;
	position: relative;
}
div.list{
	width: 330px;
	border: 1px solid #000000;
	border-radius: 15px;
	height: 380px;
	padding: 10px;
	overflow-y:auto;
}
div.left{
	float:left;
	margin-left: 25px;	
}
div.right{
	margin-right: 25px;	
	float:right;
}




