@charset "utf-8";
/* CSS Document */

body {
	background-color:#d2d2d2;
	}
	
#abox{
	background-color:rgba(255,255,255,1.00);
	position:static; 
	margin:0 auto;
	margin-top:75px;
	width:600px;
	height:450px;
	border-radius:7px;
	}
	
#menu{
	background-color: #ffffff;
	position: absolute;
	width: 210px;
	height: 370px;
	margin-left:20px;
	margin-top: 45px;
	border-radius:7px;
	}
	
#list{
    background-color: #f2f2f2;
	position: absolute;
	width: 330px;
	height: 370px;
	margin-left:250px;
	margin-top: 60px;
	border-radius:7px;
	overflow:auto;
	}
	
#u1{
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	font-size:20px;
	font-weight:700;	
	}
	
.select_button{
	width:180px;
	height:50px;
	border:0px;
	border-radius:7px;
	background-color:#f2f2f2;
	color:#575757;
	font-size:20px;
	font-weight:700;
	}
	
.select_button:hover{
	background-color:#09f;
	color:#FFFFFF;
	}
	
.select_button:focus{
	background-color:#09f;
	color:#FFFFFF;
	}
	
#b_task{
	position:absolute;
	margin-top:15px;
	margin-left:15px;
	}
#b_share{
	position:absolute;
	margin-top:80px;
	margin-left:15px;
	}
#b_docu{
	position:absolute;
	margin-top:145px;
	margin-left:15px;
	}
#b_schedule{
	position:absolute;
	margin-top:210px;
	margin-left:15px;
	}

