
#u40 {
	position: absolute;
	left: 2px;
	top: 0px;
	width: 11px;
	visibility: hidden;
	word-wrap: break-word;
}
#u41 {
	position: relative;
	margin: 0 auto;
	width: 1349px;
}
#u42_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 980px;
	height: 500px;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#u42 {
	position: absolute;
	left: 185px;
	top: 100px;
	width: 980px;
	height: 500px;
}
#u43 {
	position: absolute;
	left: 2px;
	top: 242px;
	width: 976px;
	visibility: hidden;
	word-wrap: break-word;
}
#u44_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 76px;
	height: 32px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
}
#u44 {
	position: absolute;
	left: 206px;
	top: 119px;
	width: 76px;
	height: 32px;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
}
#u45 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 76px;
	word-wrap: break-word;
}
#u46_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 933px;
	height: 2px;
}
#u46 {
	position: absolute;
	left: 206px;
	top: 158px;
	width: 932px;
	height: 1px;
}
#u47 {
	position: absolute;
	left: 2px;
	top: -8px;
	width: 928px;
	visibility: hidden;
	word-wrap: break-word;
}
#u48_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 132px;
	height: 30px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 700;
	font-style: normal;
}
#u48 {
	position: absolute;
	left: 283px;
	top: 248px;
	width: 132px;
	height: 30px;
	font-weight: 700;
	font-style: normal;
}
#u49 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 132px;
}
#u50_img {
	position: absolute;
	left: -8px;
	top: -8px;
	width: 22px;
	height: 310px;
}
#u50 {
	position: absolute;
	left: 675px;
	top: 218px;
	width: 1px;
	height: 289px;
}
#u51 {
	position: absolute;
	left: 2px;
	top: 136px;
	width: 1px;
	visibility: hidden;
	word-wrap: break-word;
}
#u52_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 184px;
	height: 215px;
}
#u52 {
	position: absolute;
	left: 709px;
	top: 248px;
	width: 184px;
	height: 215px;
}
#u53 {
	position: absolute;
	left: 2px;
	top: 100px;
	width: 180px;
	visibility: hidden;
	word-wrap: break-word;
}
#u54_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 154px;
	height: 147px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}
#u54 {
	position: absolute;
	left: 943px;
	top: 260px;
	width: 154px;
	height: 147px;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}
#u55 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 154px;
	word-wrap: break-word;
	font-size: 14px;
}
#u56_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 81px;
	height: 24px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	text-decoration: underline;
	color: #999999;
}
#u56 {
	position: absolute;
	left: 284px;
	top: 423px;
	width: 81px;
	height: 24px;
	font-size: 16px;
	text-decoration: underline;
	color: #999999;
}
#u57 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 81px;
	white-space: nowrap;
}
#u58_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 165px;
	height: 34px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 20px;
	text-decoration: underline;
	color: #169BD5;
}
#u58 {
	position: absolute;
	left: 940px;
	top: 430px;
	width: 165px;
	height: 34px;
	font-size: 20px;
	text-decoration: underline;
	color: #169BD5;
}
#u59 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 165px;
	word-wrap: break-word;
}
#u60 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
}
#u61_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 40px;
	background: inherit;
	background-color: rgba(22, 155, 213, 1);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 15px;
	color: #FFFFFF;
}
#u61 {
	position: absolute;
	left: 497px;
	top: 423px;
	width: 100px;
	height: 40px;
	font-size: 15px;
	color: #FFFFFF;
}
#u62 {
	position: absolute;
	left: 2px;
	top: 12px;
	width: 96px;
	word-wrap: break-word;
}
#u63 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
}
#u64 {
	position: absolute;
	left: 290px;
	top: 294px;
	width: 300px;
	height: 40px;
}
#u64_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 222px;
	height: 40px;
	background-color: transparent;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	text-decoration: none;
	color: #000000;
	text-align: left;
}
#u65_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 96px;
	height: 21px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 700;
	font-style: normal;
}
#u65 {
	position: absolute;
	left: 284px;
	top: 303px;
	width: 96px;
	height: 21px;
	font-weight: 700;
	font-style: normal;
}
#u66 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 96px;
	white-space: nowrap;
}
#u67 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
}
#u68 {
	position: absolute;
	left: 290px;
	top: 349px;
	width: 300px;
	height: 40px;
}
#u68_input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 222px;
	height: 40px;
	background-color: transparent;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	text-decoration: none;
	color: #000000;
	text-align: left;
}
#u69_div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 58px;
	height: 21px;
	background: inherit;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 700;
	font-style: normal;
}
#u69 {
	position: absolute;
	left: 320px;
	top: 358px;
	width: 58px;
	height: 21px;
	font-weight: 700;
	font-style: normal;
}
#u70 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 58px;
	white-space: nowrap;
}
